name: E2E

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build @monaco-neovim-wasm/lib
        run: npm -w @monaco-neovim-wasm/lib run build

      - name: Install Playwright browsers
        run: npx playwright install --with-deps chromium

      - name: Run e2e
        run: npm run test:e2e
